/*
 * DOCUMENT: extensions.css
 * Defines framework extensions
 */

/* Alignment */
.x-align_right { float: right !important; }
.x-align_left { float: left !important; }
.x-align_none { float: none !important; }

.x-align_center {
	margin: 0 auto !important;
	display: block !important;
}

/* Margin (increments of 18px) */
.x-margin_0_0 { margin: 0; }
.x-margin_0_25 { margin: 5px !important; }
.x-margin_0_5 { margin: 10px !important; }
.x-margin_1_0 { margin: 20px !important; }
.x-margin_1_5 { margin: 30px !important; }
.x-margin_2_0 { margin: 40px !important; }
.x-margin_2_5 { margin: 50px !important; }
.x-margin_3_0 { margin: 60px !important; }
.x-margin_4_0 { margin: 80px !important; }
.x-margin_5_0 { margin: 100px !important; }
.x-margin_6_0 { margin: 120px !important; }
.x-margin_7_0 { margin: 140px !important; }
.x-margin_8_0 { margin: 160px !important; }
.x-margin_9_0 { margin: 180px !important; }
.x-margin_left_0_0 { margin-left: 0px !important; }
.x-margin_left_0_25 { margin-left: 5px !important; }
.x-margin_left_0_5 { margin-left: 10px !important; }
.x-margin_left_1_0 { margin-left: 20px !important; }
.x-margin_left_1_5 { margin-left: 30px !important; }
.x-margin_left_2_0 { margin-left: 40px !important; }
.x-margin_left_2_5 { margin-left: 50px !important; }
.x-margin_left_3_0 { margin-left: 60px !important; }
.x-margin_left_4_0 { margin-left: 80px !important; }
.x-margin_left_5_0 { margin-left: 100px !important; }
.x-margin_left_6_0 { margin-left: 120px !important; }
.x-margin_left_7_0 { margin-left: 140px !important; }
.x-margin_left_8_0 { margin-left: 160px !important; }
.x-margin_left_9_0 { margin-left: 180px !important; }
.x-margin_right_0_0 { margin-right: 0px !important; }
.x-margin_right_0_25 { margin-right: 5px !important; }
.x-margin_right_0_5 { margin-right: 10px !important; }
.x-margin_right_1_0 { margin-right: 20px !important; }
.x-margin_right_1_5 { margin-right: 30px !important; }
.x-margin_right_2_0 { margin-right: 40px !important; }
.x-margin_right_2_5 { margin-right: 50px !important; }
.x-margin_right_3_0 { margin-right: 60px !important; }
.x-margin_right_4_0 { margin-right: 80px !important; }
.x-margin_right_5_0 { margin-right: 100px !important; }
.x-margin_right_6_0 { margin-right: 120px !important; }
.x-margin_right_7_0 { margin-right: 140px !important; }
.x-margin_right_8_0 { margin-right: 160px !important; }
.x-margin_right_9_0 { margin-right: 180px !important; }
.x-margin_top_0_0 { margin-top: 0px !important; }
.x-margin_top_0_25 { margin-top: 5px !important; }
.x-margin_top_0_5 { margin-top: 10px !important; }
.x-margin_top_1_0 { margin-top: 20px !important; }
.x-margin_top_1_5 { margin-top: 30px !important; }
.x-margin_top_2_0 { margin-top: 40px !important; }
.x-margin_top_2_5 { margin-top: 50px !important; }
.x-margin_top_3_0 { margin-top: 60px !important; }
.x-margin_top_4_0 { margin-top: 80px !important; }
.x-margin_top_5_0 { margin-top: 100px !important; }
.x-margin_top_6_0 { margin-top: 120px !important; }
.x-margin_top_7_0 { margin-top: 140px !important; }
.x-margin_top_8_0 { margin-top: 160px !important; }
.x-margin_top_9_0 { margin-top: 180px !important; }
.x-margin_bottom_0_0 { margin-bottom: 0px !important; }
.x-margin_bottom_0_25 { margin-bottom: 5px !important; }
.x-margin_bottom_0_5 { margin-bottom: 10px !important; }
.x-margin_bottom_1_0 { margin-bottom: 20px !important; }
.x-margin_bottom_1_5 { margin-bottom: 30px !important; }
.x-margin_bottom_2_0 { margin-bottom: 40px !important; }
.x-margin_bottom_2_5 { margin-bottom: 50px !important; }
.x-margin_bottom_3_0 { margin-bottom: 60px !important; }
.x-margin_bottom_4_0 { margin-bottom: 80px !important; }
.x-margin_bottom_5_0 { margin-bottom: 100px !important; }
.x-margin_bottom_6_0 { margin-bottom: 120px !important; }
.x-margin_bottom_7_0 { margin-bottom: 140px !important; }
.x-margin_bottom_8_0 { margin-bottom: 160px !important; }
.x-margin_bottom_9_0 { margin-bottom: 180px !important; }

/* Padding (increments of 18px) */
.x-padding_0_0 { padding: 0; }
.x-padding_0_25 { padding: 5px !important; }
.x-padding_0_5 { padding: 10px !important; }
.x-padding_1_0 { padding: 20px !important; }
.x-padding_1_5 { padding: 30px !important; }
.x-padding_2_0 { padding: 40px !important; }
.x-padding_2_5 { padding: 50px !important; }
.x-padding_3_0 { padding: 60px !important; }
.x-padding_4_0 { padding: 80px !important; }
.x-padding_5_0 { padding: 100px !important; }
.x-padding_6_0 { padding: 120px !important; }
.x-padding_7_0 { padding: 140px !important; }
.x-padding_8_0 { padding: 160px !important; }
.x-padding_9_0 { padding: 180px !important; }
.x-padding_top_0_0 { padding-top: 0px !important; }
.x-padding_top_0_25 { padding-top: 5px !important; }
.x-padding_top_0_5 { padding-top: 10px !important; }
.x-padding_top_1_0 { padding-top: 20px !important; }
.x-padding_top_1_5 { padding-top: 30px !important; }
.x-padding_top_2_0 { padding-top: 40px !important; }
.x-padding_top_2_5 { padding-top: 50px !important; }
.x-padding_top_3_0 { padding-top: 60px !important; }
.x-padding_top_4_0 { padding-top: 80px !important; }
.x-padding_top_5_0 { padding-top: 100px !important; }
.x-padding_top_6_0 { padding-top: 120px !important; }
.x-padding_top_7_0 { padding-top: 140px !important; }
.x-padding_top_8_0 { padding-top: 160px !important; }
.x-padding_top_9_0 { padding-top: 180px !important; }
.x-padding_bottom_0_0 { padding-bottom: 0px !important; }
.x-padding_bottom_0_25 { padding-bottom: 5px !important; }
.x-padding_bottom_0_5 { padding-bottom: 10px !important; }
.x-padding_bottom_1_0 { padding-bottom: 20px !important; }
.x-padding_bottom_1_5 { padding-bottom: 30px !important; }
.x-padding_bottom_2_0 { padding-bottom: 40px !important; }
.x-padding_bottom_2_5 { padding-bottom: 50px !important; }
.x-padding_bottom_3_0 { padding-bottom: 60px !important; }
.x-padding_bottom_4_0 { padding-bottom: 80px !important; }
.x-padding_bottom_5_0 { padding-bottom: 100px !important; }
.x-padding_bottom_6_0 { padding-bottom: 120px !important; }
.x-padding_bottom_7_0 { padding-bottom: 140px !important; }
.x-padding_bottom_8_0 { padding-bottom: 160px !important; }
.x-padding_bottom_9_0 { padding-bottom: 180px !important; }
.x-padding_left_0_0 { padding-left: 0px !important; }
.x-padding_left_0_25 { padding-left: 5px !important; }
.x-padding_left_0_5 { padding-left: 10px !important; }
.x-padding_left_1_0 { padding-left: 20px !important; }
.x-padding_left_1_5 { padding-left: 30px !important; }
.x-padding_left_2_0 { padding-left: 40px !important; }
.x-padding_left_2_5 { padding-left: 50px !important; }
.x-padding_left_3_0 { padding-left: 60px !important; }
.x-padding_left_4_0 { padding-left: 80px !important; }
.x-padding_left_5_0 { padding-left: 100px !important; }
.x-padding_left_6_0 { padding-left: 120px !important; }
.x-padding_left_7_0 { padding-left: 140px !important; }
.x-padding_left_8_0 { padding-left: 160px !important; }
.x-padding_left_9_0 { padding-left: 180px !important; }
.x-padding_right_0_0 { padding-right: 0px !important; }
.x-padding_right_0_25 { padding-right: 5px !important; }
.x-padding_right_0_5 { padding-right: 10px !important; }
.x-padding_right_1_0 { padding-right: 20px !important; }
.x-padding_right_1_5 { padding-right: 30px !important; }
.x-padding_right_2_0 { padding-right: 40px !important; }
.x-padding_right_2_5 { padding-right: 50px !important; }
.x-padding_right_3_0 { padding-right: 60px !important; }
.x-padding_right_4_0 { padding-right: 80px !important; }
.x-padding_right_5_0 { padding-right: 100px !important; }
.x-padding_right_6_0 { padding-right: 120px !important; }
.x-padding_right_7_0 { padding-right: 140px !important; }
.x-padding_right_8_0 { padding-right: 160px !important; }
.x-padding_right_9_0 { padding-right: 180px !important; }
/*********************/
/* Float Cearing Fix */
/*********************/
.x-clearfix:after {
	content: "." !important;
	display: block !important;
	height: 0 !important;
	clear: both !important;
	visibility: hidden !important;
}

.x-clearfix { display: inline-block; }

* html .x-clearfix { height: 1% !important; }
.x-clearfix { display: block; }


/*
Temp Tools
**************************************************************************************************
**************************************************************************************************/

.red { background-color: red; }
.orange { background-color: orange; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.blue { background-color: blue; }
.purple { background-color: purple; }
.pink { background-color: pink; }
.gray { background-color: gray; }

.fff { background-color: #FFF; }
.eee { background-color: #eee; }
.ddd { background-color: #ddd; }
.ccc { background-color: #ccc; }
.bbb { background-color: #bbb; }
.aaa { background-color: #aaa; }
.c999 { background-color: #999; }
.c888 { background-color: #888; }
.c777 { background-color: #777; }
.c666 { background-color: #666; }
.c555 { background-color: #555; }
.c444 { background-color: #444; }
.c333 { background-color: #333; }
.c222 { background-color: #222; }
.c111 { background-color: #111; }
.c000 { background-color: #000; }


.x-todo 
{
    background: #FFFFD6 !important;
    color: #bbb !important;    
}
