/*
 * DOCUMENT: theme.css
 * Defines page theme.
 */

/*
Fonts
**************************************************************************************************
**************************************************************************************************/

/* Set Fonts */
.site-default { font-family: Georgia, Times, "Times New Roman", serif; }
.site-default h1, .site-default .nc-h1, .site-default h2, .site-default .nc-h2, .site-default h3, .site-default .nc-h3, .site-default h4, .site-default .nc-h4, .site-default h5, .site-default .nc-h5, .site-default h6, .site-default .nc-h6 { font-family: Georgia, Times, "Times New Roman", serif; }
.site-default code { font-family: "Courier New", Courier, monospace; }

/* Set Colors */
.site-default { color: #333; }
.site-default h1, .site-default .nc-h1 { color: #333; }
.site-default h2, .site-default .nc-h2 { color: #333; }
.site-default h3, .site-default .nc-h3 { color: #333; }
.site-default h4, .site-default .nc-h4 { color: #333; }
.site-default h5, .site-default .nc-h5 { color: #444; }
.site-default h6, .site-default .nc-h6 { color: #444; }

/*
Typography
**************************************************************************************************
**************************************************************************************************/

/*
Intialize site baselines and font size.
**************************************************************************************************/

.site-default { font-size: 13px; line-height: 20px; background: #fff; }


/*
Block Elements
**************************************************************************************************/

/* Headers and Sub-headers */
.site-default p,
.site-default h1, .site-default .nc-h1, .site-default h2, .site-default .nc-h2, .site-default h3, .site-default .nc-h3, .site-default h4, .site-default .nc-h4, .site-default h5, .site-default .nc-h5, .site-default h6, .site-default .nc-h6 { padding: 0 10px; }

.site-default h1, .site-default .nc-h1 {
	font-size: 20px;
	line-height: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.site-default h2, .site-default .nc-h2 {
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: bold;
}

.site-default p { padding-bottom: 10px; }

/*
Inline Elements
**************************************************************************************************/



/*
Links
**************************************************************************************************
**************************************************************************************************/

.site-default a { color: #1A5EA8; outline: none; cursor: pointer; }
.site-default a:link { color: #1A5EA8; }
.site-default a:visited { color: #1A5EA8; }
.site-default a:hover { color: #0070E9; }
.site-default a:active { color: #007bff; }


/*
Foundation
**************************************************************************************************
**************************************************************************************************/
.site-default {
	background: #dcf1f7 url(images/bg_page_app.png) repeat-x;
	margin: 0;
	padding: 0;
}

.site-default.portal {
	background: transparent url(images/bg_page.png) repeat-x;
}

.site-default .grid-container { }

.site-default hr { }

/*
Theme Object > List 
**************************************************************************************************/

.site-default .ol-checklist {
}

.site-default .ol-events {
	padding-left: 10px;
}

.site-default .ol-menu {
}

.site-default .ol-menu > li { 
}

.site-default .ol-navigation {
}

.site-default .ol-navigation > li { 
}

.site-default .ol-subnav {
}

.site-default .ol-subnav > li {
	cursor: pointer;
}

.site-default .ol-supnav {
}

.site-default .ol-supnav > li {
	cursor: pointer;
	color: white;
	font-size: 16px;
}


/*
Theme Object > Content 
**************************************************************************************************/

.site-default .oc-logo {
}

.site-default .oc-create_event {
}

.site-default .oc-about {
}

.site-default .oc-title {
}

.site-default .oc-description {
}

.site-default .oc-location {
}

.site-default .oc-address {
}

.site-default .oc-map {
}

.site-default .oc-time {
}

.site-default .oc-date {
}

.site-default .oc-post {
}

.site-default .oc-todo {
}

.site-default .oc-h1 {
}

.site-default .oc-h2 {
}

.site-default .oc-h3 {
}

.site-default .oc-icon {
}

.site-default .oc-legal {
	color: #999;
	font-style: oblique;
	font-size: 12px;
	text-align: right;
}

/*
Theme Object > Action 
**************************************************************************************************/


.site-default .oa-button
{
	outline: 1px solid 
	margin-right: 10px;
	color: #555;
	padding: 0 5px;
	cursor: pointer;
}

.site-default .oa-text {
}

.site-default .oa-textarea {
}
.site-default .oa-screen {
}

.site-default .oa-date {
}

.site-default .oa-time {
}

.site-default .oa-login {
}

.site-default .oa-link {
	color: #00BBE0;
	cursor: pointer;
}

/*
Theme Nodes > Social 
**************************************************************************************************/

.site-default .os-icon {
	
}

/*
Theme Nodes > Item 
**************************************************************************************************/

.site-default .oi-title {
	font-size: 14px;
	font-weight: bold;
}

.site-default .oi-location {
	
}

.site-default .oi-datetime {

}

/*
Theme Nodes > Person 
**************************************************************************************************/



/*
Theme Nodes > Group 
**************************************************************************************************/


.site-default .og-comment {
}

/*
Theme Nodes > Notification 
**************************************************************************************************/



/*
Zones
**************************************************************************************************
**************************************************************************************************/
/* ZONE: event_preview*/
.site-default .zone-event_preview {
	background: url(images/bg_app_header_left.png) top left no-repeat, url(images/bg_app_header_right.png) top right no-repeat #FFF;
	height: 222px;
}

.site-default .zone-event_preview .oi-title{
	color: #0097BF;
	font-size: 35px;
	padding-top: 91px;
	margin-left: 20px;
	font-weight: normal;
	resize: none;
	background: transparent;
	border: 0 solid transparent;
}

.site-default .zone-event_preview .oi-description{
	color: #848484;
	font-size: 16px;
	margin-left: 20px;
	font-weight: normal;
	resize: none;
	background: transparent;
	border: 0 solid transparent;
}

.site-default .zone-event_preview .ol-supnav {
	position: absolute;
	top: 4px;
	right: 10px;
	height: 32px;
}

.site-default .zone-event_preview .ol-navigation {
	height: 35px;
	position: absolute;
	bottom: -4px;
	left: 30px;
}

.site-default .zone-event_preview .oi-timedate,.site-default .zone-event_preview .oi-locaiton, .site-default .zone-event_preview .oi-attendees {
	resize: none;
	border: 0 solid transparent;
	background: transparent;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 27px;
	color: #00aedd;
	text-align: abs-bottom;
	width: 280px;;
	height: 35px;
	overflow: hidden;
}

.site-default .zone-event_preview .oi-attendees {
	padding-top: 4px;
	height: 31px;
}


/* ZONE: todo*/
.site-default .zone-todo .ol-checklist {
	margin: 0;
}

/* ZONE: progress*/
.site-default .zone-checklist  .ol-checklist {
	margin: 0;
}

/* ZONE: portal_header*/
.site-default .zone-portal_header {
	background: transparent url(images/bg_portal_header.png) no-repeat;
	height: 321px;
}

.site-default .zone-portal_header .oc-logo {
	background: transparent url(images/logo.png) no-repeat;
	position: absolute;
	top: 81px;
	left: 640px;
	width: 301px; 
	height: 83px;
	text-indent: -9999px;
}

.site-default .zone-portal_header .ol-supnav {
	position: absolute;
	top: 4px;
	right: 10px;
	height: 32px;
}


.site-default .zone-portal_header .ol-supnav li {
	line-height: 32px;
	height: 32px;
	display: inline-block;
	float: left;
}

.site-default .zone-portal_header .os-icon {
	width: 32px;
	height: 32px;
	background: transparent url(images/social_facebook.png) no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

/* ZONE: event_list*/
.site-default .zone-event_list {
	background: #f7fcfe;
	margin: 40px 10px 20px 10px;
	height: 280px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.site-default .zone-event_list .oc-h2 {
	font-size: 22px;
	font-weight: normal;
	color: #f7fcfe;
	line-height: 40px;
	padding-bottom: 0px;
	height: 40px;
	background: #b3e1e8;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;}

.site-default .zone-event_list .temp-events {
	overflow-y: auto;
	overflow-x: hidden;
	height: 240px;
}

.site-default .zone-event_list .og-event {
	cursor: pointer;
	margin-bottom: 10px;
}

.site-default .zone-event_list .oi-title{
	color: #00bbe0;
	font-size: 18px;
	font-weight: normal;
}

.site-default .zone-event_list .oi-location{
	color: #848484;
	font-size: 12px;
}

.site-default .zone-event_list .oi-location:after{
	content: " ~";
}

.site-default .zone-event_list .oi-datetime{
	color: #848484;
	font-size: 12px;
}

.site-default .zone-event_list .on-login{
	color: #8E8E8E;
	font-size: 16px;
}

/*
Temp
**************************************************************************************************
**************************************************************************************************/


.site-default .temp-brandcap-blue {
	background: #4ed6f7;
	height: 5px;
}
.site-default .temp-brandcap-purple {
	background: #c89dff;
		height: 5px;

}
.site-default .temp-brandcap-red {
	background: #ea6a67;
		height: 5px;

}
.site-default .temp-brandcap-orange {
	background: #ffce68;
		height: 5px;

}
.site-default .temp-brandcap-green {
	background: #a6ea6b;
	height: 5px;

}

/*
Images
**************************************************************************************************
**************************************************************************************************/

.site-default .image-text_start_a_party {
	background: transparent url(images/text_start_a_party.png) no-repeat;
	width: 450px;
	height: 36px;
	position: absolute;
	top: 210px;
	right: 11px;
}


.site-default .image-button_call_to_action {
	background: transparent url(images/button_call_to_action.png) no-repeat;
	width: 188px;
	height: 44px;
	position: absolute;
	top: 255px;
	right: 19px;
	text-indent: -9999px;
}

.site-default .image-button_call_to_action:hover {
	background: transparent url(images/button_call_to_action.png) no-repeat bottom left;
}

.site-default .image-img_event_flow {
	background: transparent url(images/img_event_flow.png) no-repeat;
	width: 371px;
	height: 315px;
	position: absolute;
	top: 35px;
	left: 58px;
}

.site-default .image-content_pitch {
	background: transparent url(images/content_pitch.png) no-repeat;
	width: 960px;
	height: 180px;
	margin-top: 10px;
}




