/*
 * DOCUMENT: theme.css
 * Defines page theme.
 */

/*
Fonts
**************************************************************************************************
**************************************************************************************************/

/* Set Fonts */
.site-default { font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
.site-default h1, .site-default .nc-h1, .site-default h2, .site-default .nc-h2, .site-default h3, .site-default .nc-h3, .site-default h4, .site-default .nc-h4, .site-default h5, .site-default .nc-h5, .site-default h6, .site-default .nc-h6 { font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
.site-default code { font-family: "Courier New", Courier, monospace; }

/* Set Colors */
.site-default { color: #333; }
.site-default h1, .site-default .nc-h1 { color: #333; }
.site-default h2, .site-default .nc-h2 { color: #333; }
.site-default h3, .site-default .nc-h3 { color: #333; }
.site-default h4, .site-default .nc-h4 { color: #333; }
.site-default h5, .site-default .nc-h5 { color: #444; }
.site-default h6, .site-default .nc-h6 { color: #444; }

/*
Typography
**************************************************************************************************
**************************************************************************************************/

/*
Intialize site baselines and font size.
**************************************************************************************************/

.site-default { font-size: 13px; line-height: 20px; background: #fff; }


/*
Block Elements
**************************************************************************************************/

/* Headers and Sub-headers */
.site-default p,
.site-default h1, .site-default .nc-h1, .site-default h2, .site-default .nc-h2, .site-default h3, .site-default .nc-h3, .site-default h4, .site-default .nc-h4, .site-default h5, .site-default .nc-h5, .site-default h6, .site-default .nc-h6 { padding: 0 10px; }

.site-default h1, .site-default .nc-h1 {
	font-size: 20px;
	line-height: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.site-default h2, .site-default .nc-h2 {
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: bold;
}

.site-default p { padding-bottom: 10px; }

/*
Inline Elements
**************************************************************************************************/



/*
Links
**************************************************************************************************
**************************************************************************************************/

.site-default a { color: #1A5EA8; outline: none; cursor: pointer; }
.site-default a:link { color: #1A5EA8; }
.site-default a:visited { color: #1A5EA8; }
.site-default a:hover { color: #0070E9; }
.site-default a:active { color: #007bff; }


/*
Foundation
**************************************************************************************************
**************************************************************************************************/
.site-default { }

.site-default .grid-container { }

.site-default hr { }

/*
Theme Object > List 
**************************************************************************************************/

.site-default .ol-checklist {
}

.site-default .ol-events {
	padding-left: 10px;
}

.site-default .ol-menu {
}

.site-default .ol-menu > li { 
}

.site-default .ol-navigation {
}

.site-default .ol-navigation > li { 
}

.site-default .ol-subnav {
}

.site-default .ol-subnav > li {
	cursor: pointer;
}

.site-default .ol-supnav {
}

.site-default .ol-supnav > li {
	cursor: pointer;
}


/*
Theme Object > Content 
**************************************************************************************************/

.site-default .oc-logo {
}

.site-default .oc-create_event {
}

.site-default .oc-about {
}

.site-default .oc-title {
}

.site-default .oc-description {
}

.site-default .oc-location {
}

.site-default .oc-address {
}

.site-default .oc-map {
}

.site-default .oc-time {
}

.site-default .oc-date {
}

.site-default .oc-post {
}

.site-default .oc-todo {
}

.site-default .oc-h1 {
}

.site-default .oc-h2 {
}

.site-default .oc-h3 {
}

.site-default .oc-icon {
}

/*
Theme Object > Action 
**************************************************************************************************/


.site-default .oa-button
{
	outline: 1px solid 
	margin-right: 10px;
	color: #555;
	padding: 0 5px;
	cursor: pointer;
}

.site-default .oa-text {
}

.site-default .oa-textarea {
}
.site-default .oa-screen {
}

.site-default .oa-date {
}

.site-default .oa-time {
}

.site-default .oa-login {
}

/*
Theme Nodes > Social 
**************************************************************************************************/



/*
Theme Nodes > Item 
**************************************************************************************************/

.site-default .oi-title {
	font-size: 14px;
	font-weight: bold;
}

.site-default .oi-location {
	
}

.site-default .oi-datetime {

}

/*
Theme Nodes > Person 
**************************************************************************************************/



/*
Theme Nodes > Group 
**************************************************************************************************/


.site-default .og-comment {
}

/*
Theme Nodes > Notification 
**************************************************************************************************/



/*
Zones
**************************************************************************************************
**************************************************************************************************/

/* ZONE: todo*/
.site-default .zone-todo .ol-checklist {
	margin: 0;
}

/* ZONE: progress*/
.site-default .zone-checklist  .ol-checklist {
	margin: 0;
}

/* ZONE: portal_header*/
.site-default .zone-portal_header {
	height: 40px;
}

.site-default .zone-portal_header .oc-logo {
	position: absolute;
	top: 0;
	left: 0;
}

.site-default .zone-portal_header .ol-supnav {
	position: absolute;
	top: 0;
	right: 0;
}


/* ZONE: event_list*/
.site-default .zone-event_list {
	padding: 20px 0;
}

.site-default .zone-event_list .og-event {
	margin-bottom: 10px;
}

.site-default .zone-event_list .oi-location{
	color: #999;
}

.site-default .zone-event_list .oi-datetime{
	color: #999;
}
